body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:990px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:490px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6904 {
  position:absolute;
  left:100px;
  top:55px;
  width:890px;
  height:490px;
}
#u6905 {
  position:absolute;
  left:2px;
  top:237px;
  width:886px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6906 {
  position:absolute;
  left:119px;
  top:132px;
  width:127px;
  height:322px;
}
#u6906_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:322px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6907 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6908 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6909 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6910 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:725px;
  height:443px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6911 {
  position:absolute;
  left:265px;
  top:102px;
  width:725px;
  height:443px;
}
#u6912 {
  position:absolute;
  left:2px;
  top:214px;
  width:721px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u6913 {
  position:absolute;
  left:282px;
  top:108px;
  width:99px;
  height:16px;
  color:#0000FF;
}
#u6914 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u6915 {
  position:absolute;
  left:279px;
  top:132px;
  width:691px;
  height:107px;
}
#u6916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:29px;
}
#u6916 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:29px;
}
#u6917 {
  position:absolute;
  left:2px;
  top:6px;
  width:123px;
  word-wrap:break-word;
}
#u6918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:29px;
}
#u6918 {
  position:absolute;
  left:127px;
  top:0px;
  width:102px;
  height:29px;
}
#u6919 {
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u6920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:29px;
}
#u6920 {
  position:absolute;
  left:229px;
  top:0px;
  width:185px;
  height:29px;
}
#u6921 {
  position:absolute;
  left:2px;
  top:6px;
  width:181px;
  word-wrap:break-word;
}
#u6922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:29px;
}
#u6922 {
  position:absolute;
  left:414px;
  top:0px;
  width:146px;
  height:29px;
}
#u6923 {
  position:absolute;
  left:2px;
  top:6px;
  width:142px;
  word-wrap:break-word;
}
#u6924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:29px;
}
#u6924 {
  position:absolute;
  left:560px;
  top:0px;
  width:126px;
  height:29px;
}
#u6925 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u6926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u6926 {
  position:absolute;
  left:0px;
  top:29px;
  width:127px;
  height:30px;
}
#u6926_img.selected {
}
#u6926.selected {
}
#u6927 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u6928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u6928 {
  position:absolute;
  left:127px;
  top:29px;
  width:102px;
  height:30px;
}
#u6928_img.selected {
}
#u6928.selected {
}
#u6929 {
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u6930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
}
#u6930 {
  position:absolute;
  left:229px;
  top:29px;
  width:185px;
  height:30px;
}
#u6930_img.selected {
}
#u6930.selected {
}
#u6931 {
  position:absolute;
  left:2px;
  top:7px;
  width:181px;
  word-wrap:break-word;
}
#u6932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u6932 {
  position:absolute;
  left:414px;
  top:29px;
  width:146px;
  height:30px;
}
#u6932_img.selected {
}
#u6932.selected {
}
#u6933 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u6934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u6934 {
  position:absolute;
  left:560px;
  top:29px;
  width:126px;
  height:30px;
}
#u6934_img.selected {
}
#u6934.selected {
}
#u6935 {
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u6936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:43px;
}
#u6936 {
  position:absolute;
  left:0px;
  top:59px;
  width:127px;
  height:43px;
}
#u6937 {
  position:absolute;
  left:2px;
  top:14px;
  width:123px;
  word-wrap:break-word;
}
#u6938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:43px;
}
#u6938 {
  position:absolute;
  left:127px;
  top:59px;
  width:102px;
  height:43px;
}
#u6939 {
  position:absolute;
  left:2px;
  top:14px;
  width:98px;
  word-wrap:break-word;
}
#u6940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:43px;
}
#u6940 {
  position:absolute;
  left:229px;
  top:59px;
  width:185px;
  height:43px;
}
#u6941 {
  position:absolute;
  left:2px;
  top:14px;
  width:181px;
  word-wrap:break-word;
}
#u6942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:43px;
}
#u6942 {
  position:absolute;
  left:414px;
  top:59px;
  width:146px;
  height:43px;
}
#u6943 {
  position:absolute;
  left:2px;
  top:14px;
  width:142px;
  word-wrap:break-word;
}
#u6944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:43px;
}
#u6944 {
  position:absolute;
  left:560px;
  top:59px;
  width:126px;
  height:43px;
}
#u6945 {
  position:absolute;
  left:2px;
  top:14px;
  width:122px;
  word-wrap:break-word;
}
#u6946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u6946 {
  position:absolute;
  left:282px;
  top:286px;
  width:29px;
  height:16px;
  color:#0000FF;
}
#u6947 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6948 {
  position:absolute;
  left:308px;
  top:305px;
  width:127px;
  height:32px;
}
#u6949 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u6950 {
  position:absolute;
  left:282px;
  top:350px;
  width:415px;
  height:109px;
}
#u6951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u6951 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u6952 {
  position:absolute;
  left:2px;
  top:7px;
  width:133px;
  word-wrap:break-word;
}
#u6953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u6953 {
  position:absolute;
  left:137px;
  top:0px;
  width:137px;
  height:30px;
}
#u6954 {
  position:absolute;
  left:2px;
  top:7px;
  width:133px;
  word-wrap:break-word;
}
#u6955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u6955 {
  position:absolute;
  left:274px;
  top:0px;
  width:136px;
  height:30px;
}
#u6956 {
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  word-wrap:break-word;
}
#u6957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u6957 {
  position:absolute;
  left:0px;
  top:30px;
  width:137px;
  height:30px;
}
#u6958 {
  position:absolute;
  left:2px;
  top:7px;
  width:133px;
  word-wrap:break-word;
}
#u6959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u6959 {
  position:absolute;
  left:137px;
  top:30px;
  width:137px;
  height:30px;
}
#u6960 {
  position:absolute;
  left:2px;
  top:7px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u6961 {
  position:absolute;
  left:274px;
  top:30px;
  width:136px;
  height:30px;
}
#u6962 {
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  word-wrap:break-word;
}
#u6963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:44px;
}
#u6963 {
  position:absolute;
  left:0px;
  top:60px;
  width:137px;
  height:44px;
}
#u6964 {
  position:absolute;
  left:2px;
  top:14px;
  width:133px;
  word-wrap:break-word;
}
#u6965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:44px;
}
#u6965 {
  position:absolute;
  left:137px;
  top:60px;
  width:137px;
  height:44px;
}
#u6966 {
  position:absolute;
  left:2px;
  top:14px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:44px;
}
#u6967 {
  position:absolute;
  left:274px;
  top:60px;
  width:136px;
  height:44px;
}
#u6968 {
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u6969 {
  position:absolute;
  left:424px;
  top:383px;
  width:127px;
  height:25px;
}
#u6969_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6969_input:disabled {
  color:grayText;
}
#u6970 {
  position:absolute;
  left:424px;
  top:422px;
  width:127px;
  height:25px;
}
#u6970_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6970_input:disabled {
  color:grayText;
}
#u6971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u6971 {
  position:absolute;
  left:733px;
  top:286px;
  width:29px;
  height:16px;
  color:#0000FF;
}
#u6972 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6973 {
  position:absolute;
  left:830px;
  top:301px;
  width:134px;
  height:26px;
}
#u6973_input {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6973_input:disabled {
  color:grayText;
}
#u6974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6974 {
  position:absolute;
  left:777px;
  top:305px;
  width:43px;
  height:16px;
}
#u6975 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u6976 {
  position:absolute;
  left:733px;
  top:350px;
  width:29px;
  height:16px;
  color:#0000FF;
}
#u6977 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6978 {
  position:absolute;
  left:743px;
  top:376px;
  width:71px;
  height:16px;
}
#u6979 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6980 {
  position:absolute;
  left:830px;
  top:372px;
  width:138px;
  height:26px;
}
#u6980_input {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6980_input:disabled {
  color:grayText;
}
#u6981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6981 {
  position:absolute;
  left:495px;
  top:504px;
  width:101px;
  height:30px;
}
#u6982 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u6983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6983 {
  position:absolute;
  left:645px;
  top:504px;
  width:101px;
  height:30px;
}
#u6984 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u6985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#800080;
}
#u6985 {
  position:absolute;
  left:113px;
  top:110px;
  width:85px;
  height:16px;
  color:#800080;
}
#u6986 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6987 {
  position:absolute;
  left:100px;
  top:62px;
  width:890px;
  height:40px;
}
#u6988 {
  position:absolute;
  left:2px;
  top:12px;
  width:886px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0000FF;
}
#u6989 {
  position:absolute;
  left:115px;
  top:69px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#0000FF;
}
#u6990 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
