@model MVCTestDemo.ViewModels.StudentListViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StudentListView</title>
</head>
<body>
    <div> 
        <a href ="/Student/AddNew">
            Add New</a>
            <table>
                <thead>
                    <tr>
                        <th>NO</th>
                        <th>Name</th>
                        <th>Age</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Student.Count; i++)
                    {
                        <tr>
                            <td>@(i + 1)</td>
                            <td>@Model.Student[i].StudentName</td>
                            <td style="color:@Model.Student[i].AgeColor">@Model.Student[i].Age</td>
                        </tr>
                    }
                </tbody>
            </table>
</div>
</body>
</html>
