body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:738px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6991 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6992 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:402px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6993 {
  position:absolute;
  left:100px;
  top:39px;
  width:638px;
  height:402px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6994 {
  position:absolute;
  left:2px;
  top:193px;
  width:634px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0000FF;
}
#u6995 {
  position:absolute;
  left:122px;
  top:250px;
  width:49px;
  height:19px;
  font-size:16px;
  color:#0000FF;
}
#u6996 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6997 {
  position:absolute;
  left:175px;
  top:250px;
  width:100px;
  height:16px;
}
#u6998 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6997_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6999 {
  position:absolute;
  left:175px;
  top:280px;
  width:100px;
  height:16px;
}
#u7000 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6999_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7001 {
  position:absolute;
  left:235px;
  top:245px;
  width:487px;
  height:25px;
}
#u7001_input {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7001_input:disabled {
  color:grayText;
}
#u7002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0000FF;
}
#u7002 {
  position:absolute;
  left:122px;
  top:333px;
  width:49px;
  height:19px;
  font-size:16px;
  color:#0000FF;
}
#u7003 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7004 {
  position:absolute;
  left:175px;
  top:335px;
  width:100px;
  height:16px;
}
#u7005 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u7004_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7006 {
  position:absolute;
  left:235px;
  top:335px;
  width:487px;
  height:25px;
}
#u7006_input {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7006_input:disabled {
  color:grayText;
}
#u7007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7007 {
  position:absolute;
  left:142px;
  top:92px;
  width:29px;
  height:16px;
}
#u7008 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7009 {
  position:absolute;
  left:181px;
  top:86px;
  width:541px;
  height:29px;
}
#u7009_input {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7010 {
  position:absolute;
  left:142px;
  top:127px;
  width:29px;
  height:19px;
}
#u7011 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7012 {
  position:absolute;
  left:181px;
  top:127px;
  width:541px;
  height:107px;
}
#u7012_input {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:107px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7013 {
  position:absolute;
  left:248px;
  top:386px;
  width:101px;
  height:30px;
}
#u7014 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u7015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7015 {
  position:absolute;
  left:458px;
  top:386px;
  width:101px;
  height:30px;
}
#u7016 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u7017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:41px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7017 {
  position:absolute;
  left:100px;
  top:34px;
  width:638px;
  height:41px;
}
#u7018 {
  position:absolute;
  left:2px;
  top:12px;
  width:634px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7019 {
  position:absolute;
  left:110px;
  top:42px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7020 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
