@{
    ViewBag.Title = "Home Page";
}
<style>
    .jumbotron{
        background-image:url(http://img1.3lian.com/2015/a1/51/d/233.jpg);
        color:aliceblue;
        }
</style>
<div class="jumbotron">
    <h1>DZero</h1>
    <p class="lead">网站架构：.Net MVC +Bootstrap +SQL Server </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">More &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4 ">
        <h2>学习</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="">More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>工作</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>生活</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">More &raquo;</a></p>
    </div>
</div>