body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1075px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u639 {
  position:absolute;
  left:291px;
  top:479px;
  width:789px;
  height:101px;
}
#u640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:36px;
}
#u640 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:36px;
}
#u641 {
  position:absolute;
  left:2px;
  top:10px;
  width:202px;
  word-wrap:break-word;
}
#u642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:36px;
}
#u642 {
  position:absolute;
  left:206px;
  top:0px;
  width:160px;
  height:36px;
}
#u643 {
  position:absolute;
  left:2px;
  top:10px;
  width:156px;
  word-wrap:break-word;
}
#u644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:36px;
}
#u644 {
  position:absolute;
  left:366px;
  top:0px;
  width:418px;
  height:36px;
}
#u645 {
  position:absolute;
  left:2px;
  top:10px;
  width:414px;
  word-wrap:break-word;
}
#u646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u646 {
  position:absolute;
  left:0px;
  top:36px;
  width:206px;
  height:30px;
}
#u647 {
  position:absolute;
  left:2px;
  top:7px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u648 {
  position:absolute;
  left:206px;
  top:36px;
  width:160px;
  height:30px;
}
#u649 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:30px;
}
#u650 {
  position:absolute;
  left:366px;
  top:36px;
  width:418px;
  height:30px;
}
#u651 {
  position:absolute;
  left:2px;
  top:7px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u652 {
  position:absolute;
  left:0px;
  top:66px;
  width:206px;
  height:30px;
}
#u653 {
  position:absolute;
  left:2px;
  top:7px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u654 {
  position:absolute;
  left:206px;
  top:66px;
  width:160px;
  height:30px;
}
#u655 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:30px;
}
#u656 {
  position:absolute;
  left:366px;
  top:66px;
  width:418px;
  height:30px;
}
#u657 {
  position:absolute;
  left:2px;
  top:7px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u658 {
  position:absolute;
  left:264px;
  top:373px;
  width:145px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u659 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u660 {
  position:absolute;
  left:291px;
  top:431px;
  width:25px;
  height:24px;
}
#u661 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u662 {
  position:absolute;
  left:347px;
  top:431px;
  width:25px;
  height:25px;
}
#u663 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u664 {
  position:absolute;
  left:272px;
  top:229px;
  width:193px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u665 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u666 {
  position:absolute;
  left:283px;
  top:291px;
  width:289px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u667 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u668 {
  position:absolute;
  left:394px;
  top:431px;
  width:25px;
  height:25px;
}
#u669 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
